version: '3'
services:
  app:
    build: .
    restart: always
    volumes:
      - ./src:/gany/src
    ports:
      - 3123:3123
    depends_on:
      - mongo
      - redis
      - influx
  hourly_ticker_data_cron:
    build: .
    restart: always
    volumes:
      - ./src:/gany/src
    depends_on:
      - influx
    command: ['node', 'src/cron/hourly_ticker_data_cron.js']
  daily_ticker_data_cron:
    build: .
    restart: always
    volumes:
      - ./src:/gany/src
    depends_on:
      - influx
    command: ['node', 'src/cron/daily_ticker_data_cron.js']
  gany_charts:
    image: carlosero/ganycharts
    restart: always
    ports:
      - "3000:3000"
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - $PWD/.ganydata/mongo:/data/db
  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - $PWD/config/redis.conf:/usr/local/etc/redis/redis.conf
      - $PWD/.ganydata/redis:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  influx:
    image: influxdb
    ports:
      - "8083:8083"
      - "8086:8086"
    environment:
      - INFLUXDB_DB={changeme}
      - INFLUXDB_USER={changeme}
      - INFLUXDB_USER_PASSWORD={changeme}
      - INFLUXDB_ADMIN_USER={changeme}
      - INFLUXDB_ADMIN_PASSWORD={changeme}
      - INFLUXDB_HTTP_AUTH_ENABLED={changeme}
    volumes:
      - $PWD/.ganydata/influx:/var/lib/influxdb
